@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --absolutewhite: rgba(255, 255, 255, 1);
  --color-primitives-alice-blue: rgba(238, 243, 251, 1);
  --color-primitives-celestial-blue: rgba(0, 148, 217, 1);
  --color-primitives-columbia-blue: rgba(204, 234, 247, 1);
  --color-primitives-darmonth-green-darmounth-green-500: rgba(45, 106, 79, 1);
  --color-primitives-dim-grey: rgba(102, 102, 102, 1);
  --color-primitives-gunmental: rgba(44, 53, 58, 1);
  --color-primitives-indigo-dye: rgba(0, 74, 109, 1);
  --color-primitives-light-gray: rgba(204, 204, 204, 1);
  --color-primitives-rose-rose-red-150: rgba(255, 204, 213, 1);
  --color-primitives-rose-rose-red-500: rgba(201, 24, 74, 1);
  --color-primitives-tomoatoe-tomatoe-500: rgba(255, 87, 51, 1);
  --color-primitives-white: rgba(255, 255, 255, 1);
  --desktop-button-font-family: "Visby CF", Helvetica;
  --desktop-button-font-size: 16px;
  --desktop-button-font-style: normal;
  --desktop-button-font-weight: 700;
  --desktop-button-letter-spacing: 0px;
  --desktop-button-line-height: 120.00000476837158%;
  --global-count-global-shop-time: 0px;
  --global-count-order-processing: 20px;
  --global-count-show-map: initial;
  --green-70: rgba(194, 255, 102, 1);
  --green-90: rgba(234, 255, 204, 1);
  --grey-10: rgba(26, 26, 26, 1);
  --grey-15: rgba(38, 38, 38, 1);
  --grey-20: rgba(51, 51, 51, 1);
  --grey-30: rgba(76, 76, 77, 1);
  --interactive-collection-marker-hasmaarker-b: initial;
  --interactive-collection-marker-hasmarker-a: initial;
  --interactive-collection-marker-hasmarker-c: initial;
  --interactive-collection-task-count: 0px;
  --link-link-regular-font-family: "Articulat CF", Helvetica;
  --link-link-regular-font-size: 18px;
  --link-link-regular-font-style: normal;
  --link-link-regular-font-weight: 400;
  --link-link-regular-letter-spacing: 0px;
  --link-link-regular-line-height: 21.600000381469727px;
  --primitives-0: 0px;
  --primitives-1: 4px;
  --primitives-2: 8px;
  --primitives-3: 12px;
  --primitives-4: 16px;
  --primitives-5: 20px;
  --primitives-7: 28px;
  --primitives-color: rgba(255, 255, 255, 1);
  --primitives-colors-dark-spring-green-100: rgba(167, 252, 208, 1);
  --primitives-colors-dark-spring-green-400: rgba(37, 146, 89, 1);
  --primitives-colors-dark-spring-green-500: rgba(4, 119, 59, 1);
  --primitives-colors-rich-black-200: rgba(86, 120, 127, 1);
  --primitives-colors-rich-black-300: rgba(62, 88, 93, 1);
  --primitives-colors-rich-black-500: rgba(12, 22, 24, 1);
  --primitives-spacing-4-grid-2: 8px;
  --primitives-spacing-4-grid-3: 12px;
  --primitives-spacing-4-grid-5: 20px;
  --primitives-spacing-4-grid-6: 24px;
  --primitives-spacing-8-grid-1: 8px;
  --primitives-spacing-8-grid-2: 16px;
  --SWIVY-desktop-button-font-family: "Helixa", Helvetica;
  --SWIVY-desktop-button-font-size: 16px;
  --SWIVY-desktop-button-font-style: normal;
  --SWIVY-desktop-button-font-weight: 900;
  --SWIVY-desktop-button-letter-spacing: 0px;
  --SWIVY-desktop-button-line-height: 125%;
  --SWIVY-desktop-subtitle-font-family: "Helixa", Helvetica;
  --SWIVY-desktop-subtitle-font-size: 52px;
  --SWIVY-desktop-subtitle-font-style: normal;
  --SWIVY-desktop-subtitle-font-weight: 900;
  --SWIVY-desktop-subtitle-letter-spacing: 0px;
  --SWIVY-desktop-subtitle-line-height: 125%;
  --SWIVY-desktop-title-font-family: "Helixa", Helvetica;
  --SWIVY-desktop-title-font-size: 90px;
  --SWIVY-desktop-title-font-style: normal;
  --SWIVY-desktop-title-font-weight: 900;
  --SWIVY-desktop-title-letter-spacing: 0px;
  --SWIVY-desktop-title-line-height: 125%;
  --SWIVY-mobile-button-font-family: "Helixa", Helvetica;
  --SWIVY-mobile-button-font-size: 14px;
  --SWIVY-mobile-button-font-style: normal;
  --SWIVY-mobile-button-font-weight: 900;
  --SWIVY-mobile-button-letter-spacing: 0px;
  --SWIVY-mobile-button-line-height: 125%;
  --SWIVY-mobile-subtitle-font-family: "Helixa", Helvetica;
  --SWIVY-mobile-subtitle-font-size: 24px;
  --SWIVY-mobile-subtitle-font-style: normal;
  --SWIVY-mobile-subtitle-font-weight: 900;
  --SWIVY-mobile-subtitle-letter-spacing: 0px;
  --SWIVY-mobile-subtitle-line-height: 125%;
  --SWIVY-mobile-title-font-family: "Helixa", Helvetica;
  --SWIVY-mobile-title-font-size: 38px;
  --SWIVY-mobile-title-font-style: normal;
  --SWIVY-mobile-title-font-weight: 900;
  --SWIVY-mobile-title-letter-spacing: 0px;
  --SWIVY-mobile-title-line-height: 125%;
  --token-bg-green: rgba(4, 119, 59, 0.1);
  --token-border-color: rgba(111, 153, 162, 0.6);
  --token-category-a-marker: rgba(103, 59, 183, 1);
  --token-category-b-marker: rgba(0, 151, 136, 1);
  --token-category-c-marker: rgba(234, 30, 99, 1);
  --token-colors-btn-colors: var(--primitives-colors-dark-spring-green-500);
  --token-colors-btn-hover: var(--primitives-colors-dark-spring-green-400);
  --token-colors-btn-label: var(--token-colors-primary-surface);
  --token-colors-btn-light: var(--primitives-colors-dark-spring-green-100);
  --token-colors-primary-surface: rgba(255, 255, 255, 1);
  --token-colors-secondary-surface: rgba(247, 246, 242, 1);
  --token-colors-subtitle-text: var(--primitives-colors-rich-black-300);
  --token-colors-text-color: var(--primitives-colors-rich-black-500);
  --token-raduis-md: var(--primitives-spacing-8-grid-2);
  --token-raduis-sm: var(--primitives-spacing-8-grid-1);
  --token-shade-background: rgba(245, 251, 255, 1);
  --tokens-dimensions-spacing-3xs: 2px;
  --tokens-dimensions-spacing-lg: 16px;
  --tokens-dimensions-spacing-md: 12px;
  --tokens-dimensions-spacing-sm: 8px;
  --tokens-dimensions-spacing-xl: 20px;
  --tokens-dimensions-spacing-xs: 6px;
  --tokens-spacing-4-pt-1: 8px;
  --tokens-spacing-4-pt-10: 44px;
  --tokens-spacing-4-pt-11: 48px;
  --tokens-spacing-4-pt-12: 52px;
  --tokens-spacing-4-pt-2: 12px;
  --tokens-spacing-4-pt-3: 16px;
  --tokens-spacing-4-pt-4: 20px;
  --tokens-spacing-4-pt-5: 24px;
  --tokens-spacing-4-pt-6: 28px;
  --tokens-spacing-4-pt-7: 32px;
  --tokens-spacing-4-pt-8: 36px;
  --tokens-spacing-4-pt-9: 40px;
  --tokens-spacing-4-pt-half: 4px;
  --tokens-spacing-4-pt-none: 0px;
  --tokens-spacing-8-pt-1: 16px;
  --tokens-spacing-8-pt-10: 88px;
  --tokens-spacing-8-pt-11: 96px;
  --tokens-spacing-8-pt-12: 104px;
  --tokens-spacing-8-pt-2: 24px;
  --tokens-spacing-8-pt-3: 32px;
  --tokens-spacing-8-pt-4: 40px;
  --tokens-spacing-8-pt-5: 48px;
  --tokens-spacing-8-pt-6: 56px;
  --tokens-spacing-8-pt-7: 64px;
  --tokens-spacing-8-pt-8: 72px;
  --tokens-spacing-8-pt-9: 80px;
  --tokens-spacing-8-pt-half: 8px;
  --white-95: rgba(252, 252, 253, 0.99);
  --white-97: rgba(247, 247, 248, 1);
  --white-99: rgba(252, 252, 253, 1);
}
