:root {
  --body-bold-font-family: "Visby CF", Helvetica;
  --body-bold-font-size: 18px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 700;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 120.00000476837158%;
  --body-text-font-family: "Visby CF", Helvetica;
  --body-text-font-size: 18px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 120.00000476837158%;
  --BTM-font-family: "Visby CF", Helvetica;
  --BTM-font-size: 16px;
  --BTM-font-style: normal;
  --BTM-font-weight: 400;
  --BTM-letter-spacing: 0px;
  --BTM-line-height: normal;
  --button-text-font-family: "Visby CF", Helvetica;
  --button-text-font-size: 16px;
  --button-text-font-style: normal;
  --button-text-font-weight: 500;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: 120.00000476837158%;
  --grey-15: rgba(38, 38, 38, 1);
  --grey-30: rgba(76, 76, 77, 1);
  --grey-40: rgba(102, 102, 102, 1);
  --header-lg-font-family: "Visby CF", Helvetica;
  --header-lg-font-size: 64px;
  --header-lg-font-style: normal;
  --header-lg-font-weight: 700;
  --header-lg-letter-spacing: 0px;
  --header-lg-line-height: 120.00000476837158%;
  --header-md-font-family: "Visby CF", Helvetica;
  --header-md-font-size: 36px;
  --header-md-font-style: normal;
  --header-md-font-weight: 700;
  --header-md-letter-spacing: 0px;
  --header-md-line-height: 120.00000476837158%;
  --header-sm-font-family: "Visby CF", Helvetica;
  --header-sm-font-size: 32px;
  --header-sm-font-style: normal;
  --header-sm-font-weight: 700;
  --header-sm-letter-spacing: 0px;
  --header-sm-line-height: 120.00000476837158%;
  --header-xs-font-family: "Visby CF", Helvetica;
  --header-xs-font-size: 28px;
  --header-xs-font-style: normal;
  --header-xs-font-weight: 700;
  --header-xs-letter-spacing: 0px;
  --header-xs-line-height: 120.00000476837158%;
  --postitle-font-family: "Visby CF", Helvetica;
  --postitle-font-size: 26px;
  --postitle-font-style: normal;
  --postitle-font-weight: 500;
  --postitle-letter-spacing: 0px;
  --postitle-line-height: 120.00000476837158%;
  --primitives-colors-contrast-white: rgba(255, 255, 255, 1);
  --primitives-colors-grey-100: rgba(233, 233, 233, 1);
  --primitives-colors-grey-200: rgba(221, 221, 221, 1);
  --primitives-colors-grey-300: rgba(185, 185, 185, 1);
  --primitives-colors-grey-400: rgba(30, 30, 30, 1);
  --primitives-colors-grey-500: rgba(27, 27, 27, 1);
  --primitives-colors-grey-600: rgba(24, 24, 24, 1);
  --primitives-colors-grey-700: rgba(23, 23, 23, 1);
  --primitives-colors-grey-800: rgba(18, 18, 18, 1);
  --primitives-colors-grey-900: rgba(13, 13, 13, 1);
  --primitives-colors-white-100: rgba(255, 255, 255, 1);
  --primitives-colors-white-200: rgba(255, 255, 255, 1);
  --primitives-colors-white-300: rgba(254, 254, 254, 1);
  --primitives-colors-white-400: rgba(252, 252, 252, 1);
  --primitives-colors-white-500: rgba(227, 227, 227, 1);
  --primitives-colors-white-600: rgba(202, 202, 202, 1);
  --primitives-colors-white-700: rgba(189, 189, 189, 1);
  --primitives-colors-white-800: rgba(151, 151, 151, 1);
  --primitives-colors-white-900: rgba(113, 113, 113, 1);
  --primitives-spacing-spacing-4-1: 4px;
  --primitives-spacing-spacing-4-10: 40px;
  --primitives-spacing-spacing-4-11: 44px;
  --primitives-spacing-spacing-4-12: 48px;
  --primitives-spacing-spacing-4-13: 52px;
  --primitives-spacing-spacing-4-2: 8px;
  --primitives-spacing-spacing-4-3: 12px;
  --primitives-spacing-spacing-4-4: 16px;
  --primitives-spacing-spacing-4-5: 20px;
  --primitives-spacing-spacing-4-6: 24px;
  --primitives-spacing-spacing-4-7: 28px;
  --primitives-spacing-spacing-4-8: 32px;
  --primitives-spacing-spacing-4-9: 36px;
  --primitives-spacing-spacing-8-1: 8px;
  --primitives-spacing-spacing-8-10: 80px;
  --primitives-spacing-spacing-8-11: 88px;
  --primitives-spacing-spacing-8-12: 96px;
  --primitives-spacing-spacing-8-13: 104px;
  --primitives-spacing-spacing-8-2: 16px;
  --primitives-spacing-spacing-8-3: 24px;
  --primitives-spacing-spacing-8-4: 32px;
  --primitives-spacing-spacing-8-5: 40px;
  --primitives-spacing-spacing-8-6: 48px;
  --primitives-spacing-spacing-8-7: 56px;
  --primitives-spacing-spacing-8-8: 64px;
  --primitives-spacing-spacing-8-9: 72px;
  --subtitle-font-family: "Visby CF", Helvetica;
  --subtitle-font-size: 20px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 500;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 120.00000476837158%;
  --tokens-colors-button-border: var(--primitives-colors-white-700);
  --tokens-colors-button-btn-colors: var(--primitives-colors-grey-400);
  --tokens-colors-button-disabled: var(--primitives-colors-white-600);
  --tokens-colors-button-label: var(--primitives-colors-contrast-white);
  --tokens-colors-button-label-text: rgba(255, 249, 249, 1);
  --tokens-colors-button-light: var(--primitives-colors-white-500);
  --tokens-colors-surface-colors-primary-colors: rgba(255, 249, 249, 1);
  --tokens-colors-surface-colors-secondary-colors: var(--primitives-colors-grey-400);
  --tokens-colors-text-disabled: var(--primitives-colors-grey-300);
  --tokens-colors-text-subtitile-text: var(--primitives-colors-white-800);
  --tokens-colors-text-text-colors: var(--primitives-colors-grey-400);
  --tokens-dimensions-spacing-3xs: 2px;
  --tokens-dimensions-spacing-lg: 16px;
  --tokens-dimensions-spacing-md: 12px;
  --tokens-dimensions-spacing-sm: 8px;
  --tokens-dimensions-spacing-xl: 20px;
  --tokens-dimensions-spacing-xs: 6px;
  --tokens-raduis-full: var(--primitives-spacing-spacing-8-13);
  --tokens-raduis-lg: var(--primitives-spacing-spacing-8-2);
  --tokens-raduis-md: var(--primitives-spacing-spacing-8-3);
  --tokens-raduis-sm: var(--primitives-spacing-spacing-8-1);
  --tokens-raduis-xl: var(--primitives-spacing-spacing-8-5);
  --tokens-spacing-4-pt-1: 8px;
  --tokens-spacing-4-pt-2: 12px;
  --tokens-spacing-4-pt-2-duplicate: 12px;
  --tokens-spacing-4-pt-3: 16px;
  --tokens-spacing-4-pt-5: 24px;
  --tokens-spacing-4-pt-half: 4px;
  --tokens-spacing-4-pt-none: 0px;
  --white: rgba(255, 255, 255, 1);
  --white-95: rgba(252, 252, 253, 0.99);
  --white-99: rgba(252, 252, 253, 1);
}
